* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url("../img/cielo-estrellado.png");
  background-size: cover;
  background-repeat: no-repeat;
}

p{
    color: #FFFFFF;
}

a{
  text-decoration: none;
}

a:visited {
  color: #87F54E;; 
}

.footer-link:visited{
  color: #FFFFFF;
}

header {
  height: fit-content;
  margin-bottom: 2rem;
}

.logo {
  height: 10rem;
  width: 35rem;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ul-1 {
  display: flex;
  gap: 4.5rem;
}

.li-1 {
  font-size: 1.2rem;
  list-style: none;
  color: #87f54e;
}

main{
    height: fit-content
}

.section-planet {
  margin-left: 15rem;
  display: flex; 
}


img {
  height: 25rem;
  margin: 1rem 5rem 2rem 2rem; 
}

.lista{
    font-size: 1.3rem;
    margin: 4rem 0 0 10rem;
}
ul {
  column-count: 2;
  color: #ffffff;
  padding: 0.5rem;
}

li {
  list-style: inside;
}

.section-banners {
  /*background-color: #ffffff;*/
  width: fit-content;
  margin: 8rem auto; 
  height: fit-content;
}

.setas{
  height: 6rem;
  margin-bottom: 10rem;
}

footer{
  margin-top: 10rem;
  display: flex;
  background-color: #272727;
  width: 100%;
}

.divisoria{
  width: 0.01rem;
  height: 7rem;
  margin-top: 1rem;
  background-color: #FFFFFF;
}

.rick{
  height: 6rem;
  padding: 0.1rem;
  margin-left: 1rem;
}

.nav-2{
  display: flex;
}

.ul-2{
  font-size: 1.2rem;
  display: flex;
  gap: 4rem;
  align-items: center;
  margin-left: 7rem;
}

.li-2{
  list-style: none;
  color: #FFFFFF;
}

.side-footer{
  margin-left: 40rem;
  align-items: center;
  justify-content: center;
}

.side-footer-text{
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 7rem;
}

.side-footer-img{
  display: flex;
}

.git{
  height: 2rem;
}

.planeta7{
  height: 30rem;
}

