* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url("../img/cielo-estrellado.png");
  background-size: cover;
  background-repeat: no-repeat;
}

p{
    color: #FFFFFF;
}

a {
  text-decoration: none;
}

a:visited {
  color: #87f54e;
}

.footer-link:visited {
  color: #ffffff;
}

header {
  height: fit-content;
}

.logo {
  height: 10rem;
  width: 35rem;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ul-1 {
  display: flex;
  gap: 4.5rem;
}

.li-1 {
  font-size: 1.2rem;
  list-style: none;
  color: #87f54e;
}

section {
  display: flex; 
}


img {
  height: 25rem;
  margin: 1rem 5rem 2rem 2rem; 
}

.lista{
    margin: 4rem;
}
ul {
  column-count: 2;
  color: #ffffff;
  padding: 0.5rem;
}

li {
  list-style: inside;
}




