@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url("../img/cielo-estrellado.png"); 
    background-size: cover; 
    background-repeat: no-repeat; 
  }

a{
    text-decoration: none;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #000;
}

a:visited {
    color: #87F54E;; 
  }

.footer-link:visited{
    color: #FFFFFF;
}

header{
 height: fit-content;
}

.logo{
    height: 10rem;
    width: 40rem;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ul-1{
    display: flex;
    gap: 4.5rem;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #000;
}


.li-1{
    font-size: 1.2rem;
    list-style: none;
    color: #87F54E;
}


main {
    height: 80%;
    padding-bottom: 43rem;
}


.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9, .img10,
.img11, .img12, .img13, .img14, .img15 {
  position: absolute;
}


.img1{
    left: 680px;
    top: 640px;
    height: 150px;
}


.img2 {
    left: 50px;
    right: 200px;
    bottom: 170px;
}

.img3{
    top: 280px;
    left: 390px;
    height: 90px;
}


.img4 {
    left: 1060px;
    bottom: 120px;
}

.img5 {
    left: 260px;
    right: 200px;
    top: 420px
}

.img6 {
    height: 300px;
    left: 890px;
    top: 390px;
}

.img7 {
    left: 1350px;
    top: 250px;
    height: 280px;
}

.img8 {
    left: 40px;
    top: 160px;
    height: 190px;
}


.img9 {
    left: 1600px;
    top: 170px;
    height: 80px;
}

.img10 {
    left: 950px;
    top: 200px;
    height: 140px;
}

.img11 {
    left: 1440px;
    top: 650px;
    height: 110px;
}

.img12 {
    left: 570px;
    top: 350px;
    height: 240px;
}

.img13 {
    top: 450px;
    height: 130px;
}

.img14 {
    left: 320px;
    top: 550px;
    height: 260px;
}

.img15 {
    left: 680px;
    top: 160px;
    height: 170px;
}





footer{
    display: flex;
    background-color: #272727;
    width: 100%;
    height: auto;
}

.divisoria{
    margin-left: 3rem;
    background-color: #FFFFFF;
    height: 5rem;
    margin-top: .5rem;
    width: .01rem;
}

img{
    height: 6rem;
    padding: 0.2rem;
    margin-left: 1rem;
}

.nav-2{
    display: flex;
}

.ul-2{
    font-size: 1.2rem;
    align-items: center;
    margin-left: 7rem;
    gap: 5rem;
    display: flex;
}

   
.li-2{
    list-style: none;
    color: #FFFFFF;
}

.side-footer{
    margin-left: 60rem;
    align-items: center;
}

.side-footer-text{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #FFFFFF;
    margin-left: 1.2rem;
}

.side-footer-img{
    display: flex;
}

.git{
    height: 2rem;
}
