*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    background-image: url("../img/cielo-estrellado.png");
}

header{
 height: fit-content;
}

.logo{
    height: 10rem;
    width: 40rem;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.ul-1{
    display: flex;
    gap: 4.5rem;
}


.li-1{
    font-size: 1.2rem;
    list-style: none;
    color: #87F54E;
}


main {
    height: 80%;
    padding-bottom: 43rem;
}


.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9, .img10,
.img11, .img12, .img13, .img14, .img15 {
  position: absolute;
}

/*
.img1{
    left: 110px;
    right: 200px;
    bottom: 100px;
}
*/

.img3{
    top: 280px;
    left: 480px;
    right: 200px;
}
.img2 {
    left: 110px;
    right: 200px;
    bottom: 150px;
}


footer{
    display: flex;
    background-color: #272727;
    width: 100%;
    height: auto;
}

.divisoria{
    margin-left: 2rem;
    background-color: #FFFFFF;
    height: 6rem;
    width: 0.1rem;
}

img{
    height: 6rem;
    padding: 0.2rem;
    margin-left: 1rem;
}

.nav-2{
    display: flex;
}

.ul-2{
    font-size: 1.2rem;
    align-items: center;
    margin-left: 8rem;
    gap: 5rem;
    display: flex;
}

   
.li-2{
    list-style: none;
    color: #FFFFFF;
}


.side-footer{
    color: #FFFFFF;
    
}

.git{
    height: 2rem;
}
