*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    background-image: url("../img/cielo-estrellado.png");
}

header{
    height: 200px;
}

.logo{
    height: 150px;
    width: 500px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-2{
    display: flex;
}


.ul-1{
    display: flex;
    gap: 50px;
}

.ul-2{
 display: flex;
}


.li-1{
    font-size: 1.2rem;
    list-style: none;
    color: #87F54E;
}

.li-2{
    list-style: none;
    color: #FFFFFF;
}


main {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Define 5 colunas */
    grid-gap: 10px; /* Espaçamento entre as colunas */
    grid-row-gap: 20px; /* Espaçamento entre as linhas */
    height: 500px; /* Define a altura da área principal */
}



img {
    object-fit: contain; /* Maintain aspect ratio */
}

.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9, .img10,
.img11, .img12, .img13, .img14, .img15 {
  position: absolute;
}

/*
.img1{
    left: 110px;
    right: 200px;
    bottom: 100px;
}
*/

.img3{
    top: 280px;
    left: 480px;
    right: 200px;
}
.img2 {
    left: 110px;
    right: 200px;
    bottom: 100px;
  }